html, body {
    margin: 0;
    font-family: Raleway;
    padding: 0;
}

.div {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#background {
	position: fixed;
	padding: 0 !important;
	z-index: -100;
	margin-top: 0%;
}

#background img{
	position: relative;
	margin-top: 0%;
	height: 100%;
	width: 100%;
}


#topbar {
	position: fixed;
	height: 7%;
	width: 100%;
	z-index: 100;
	opacity: 0.9;
	background-color: transparent;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*#topbar-overlay {
	position: fixed;
	top: 8%;
	height: 12%;
	width: 100%;
	z-index: 99;
	opacity: 1;
	background: linear-gradient(white, transparent);
	background: -webkit-linear-gradient(white, transparent);
	background: -moz-linear-gradient(white, transparent);
	background: -o-linear-gradient(white, transparent);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}*/

#topbar-item {
	position: relative;
	top:1px;
	float: right;
	margin: 5px;
	display: inline-block;
	color: rgb(77, 208, 210);
	font-size: 15px;
	padding: 10px;
	background-color: transparent;
	font-weight: 400;
	cursor: pointer;
	border: 1.5px solid transparent;
	z-index: 100;
}

#topbar-item:hover {
    border: 1px solid rgb(77, 208, 210);
    background: transparent;
    color: rgb(77, 208, 210);
    cursor: pointer;
}

#name-bar {
	position: relative;
	top: 15%;
	width: 100%;
	height: 10%;
	background-color: transparent;
}

#name-overlay {
	position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}


#name {
	position: relative;
	color: rgb(210, 35, 5);
	color: rgb(77, 208, 210);
	top: -90%;
	margin-left: 32%;
	font-size: 45px;
    font-family: Bitter;
    font-weight: 400;
    z-index: 101;
    opacity: 1;
}

#name-drop {
	position:fixed;
    width: 50px;
    top: 40%;
    left: 50.15%;
    z-index: 10;
    display: none;
}

#name-line {
	position: fixed;	
	height: 10px;
	top: 40%;
	left: 52%;
	z-index: 10;
	border-right: 3px dotted rgb(255, 54, 130);
	display: none;
}

#summary {
	position: fixed;
	top: 40%;
	left: 70%;
	font-family: Yanone Kaffeesatz;
	color: white;
}

#school {
	position: relative;
	padding:10px;
	font-size: 70px;
	font-weight: 400;
	opacity: 1;
	left: 10%;
	display: none;
}

.major {
	position: relative;
	top:55%;
	padding-left: 10px;
	font-size: 40px; 
    font-weight: 300;
    opacity: 1;
    left: 10%;
    display: none;
}

#line {
	position: fixed;
	background-color: white;
    height: 30%;
    width: 2px;
    left: 68%;
    top: 40%;
}

#content {
	position: relative;
	width: 100%;
	height: 200%;
	top: 65%; 
	background-color: white;
	z-index: 2;
}

#content-bar {
	position: relative;
	width: 100%;
	height: 15%;
	top: -2%;
	background-color: rgb(77, 208, 210);
	
	opacity: 0.5;
}

#content-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0%;
	background-color: transparent;
	opacity: 1;
}

#content-card {
	position: relative;
	margin-left: 0.5%;
	margin-top: 30%;
	height: 100%;
	width: 23%;
	display: inline-block;
	background-color: black;
	font-weight: 400;
	cursor: pointer;
	border: 5px solid rgb(77, 208, 210);
	z-index: 100;
	opacity: 0.3;
}

#edge-container {
	position: relative;
	top: -5%;
	width: 100%;
	height: 1000px;
	background-color: transparent;
	overflow: hidden;
}

.edges {
	position: relative;
	width: 100%;
	height: 700px;
	left: -10%;
	border-radius: 50%;
	background-color: white;
}

#edge-l1 {
	top: 0%;
	opacity: 0.3;
}

#edge-l2 {
	top: -60%;
	opacity: 0.5;
}

#edge-l3 {
	top: -120%;
	opacity: 0.7;
}

#edge-l4 {
	top: -125%;
	opacity: 1;
}


#block1 {
	position: relative;
	top: -50%;
	background-color: white;
	width: 100%;
	height: 30%;
}

#block2 {
	position: relative;
	top: -30%;
	background-color: white;
	width: 100%;
	height: 20%;
}

#social {
	position: relative;
	width: 35%;
	height: 80px;
	background-color: transparent;
	opacity: 0;
	top: -900px;
	left: 450px;
}

.social-icon {
	position: relative;
	padding: 7px;
	margin: 10px;
	width: 60px;
	border: 5px solid rgb(255,54,130);
	border-radius: 50%;
}

.social-icon:hover {
	transform: translateY(-20px);
	-o-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-webkit-transform: translateY(-20px);
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: 0px 30px 15px -10px rgb(255,54,100);
    -o-box-shadow: 0px 30px 15px -10px rgb(255,54,100);
    -moz-box-shadow: 0px 30px 15px -10px rgb(255,54,100);
    -webkit-box-shadow: 0px 30px 15px -10px rgb(255,54,100);
}

#wave-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	left: 0;
	z-index: 10;
	top: -800px;
}

#wave {
	width: 100%;
	height: 15%;
}

.tree {
	position: relative;
    height: 300px;
    width: 40%;
    border-radius: 20px;
}

#contents {
	position: relative;
	width: 100%;
	height: 800px;
	background-color: white;
	top: -54%;
}

#whoiam {
	background-color: rgb(255, 54, 130);
    top: 100px;
    left: 5%;
}

#title {
	position: relative;
	top:15px;
	left: 20px;
	font-size: 36px;
	color: white;
	font-family: Yanone Kaffeesatz;
	font-weight: 400;

}

#paragraph {
	position: relative;
	top: 40px;
	left: 20px;
	width: 90%;
	color: white;
	font-size: 24px;
	font-family: Yanone Kaffeesatz;
	font-weight: 200;
}

#whatido {
	background-color: rgb(255, 54, 130);
    top: 20px;
    left: 57%;
}

#end {
	position: relative;
	width: 100%;
	height: 20%;
	top: -54%;
	background: linear-gradient(white, transparent);
}

.name-active1 {
	-webkit-transform: translateY(40px);
	-moz-transform: translateY(40px);
	-o-transform: translateY(40px);
	transform: translateY(40px);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.name-active2 {
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}

.school-active, .major-active {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateX(-40px);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.sticky {
	position: fixed;
	top: 500px;
}

.topbar-overlay-active {
    opacity: 1;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
}
